body {
	height: 100%;
    width: 100%;
	
}

#nouns {
    font-size: 32px;
    font-family: 'Black Ops One', cursive;
    color: rgb(121,149,117);
    text-align: center;
}

.main-paragraphs{
    background-image: url("praying.jpg");
    background-size: cover;
    color: rgb(252, 252, 251);
    padding: 250px 0;
	margin: 30px;
}

header {
    padding: 40px 0;
}

header .row{
  display: flex;
  align-items: center;
}

header nav {
    display: flex;
    justify-content: flex-end;
  }
h3{
    color:rgb(121,149,117);;
}

section .row img {
    margin: 0 0 3cqb;
    width: 100%;
  }

  col-md-4 {
    margin: 0 0 30px;
  }
