body {
	height: 100%;
    width: 100%;
	
}

#nouns {
    font-size: 32px;
    font-family: 'Black Ops One', cursive;
    color: rgb(121,149,117);
    text-align: center;
}

.main-paragraphs{
    background-image: url("praying.jpg");
    background-size: cover;
    color: beige;
    padding: 250px 0;
	margin: 30px;
}

